body {
    background-size: cover;
}

h1 {
    width: 100%;
    font-size: 23px;
    margin: 0px;
}
#start{
    font-size: 18px;
}
#status,#number_of_objects{
    font-size: 18px;
}
.copyright_footer{
    position: fixed;
    width: 100%;
    background-color: wheat;
    color: blueviolet;
    bottom: 0;
    line-height: 5;
    text-align: center;
}